lab_2/flow_cdf2.json
[{"id":"57920e70.a5aeb","type":"subflow","name":"Remote GPU","info":"","category":"","in":[{"x":120,"y":320,"wires":[{"id":"3236f20a.2b1e2e"}]}],"out":[{"x":1640,"y":680,"wires":[{"id":"3568ef46.4c866","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"95a9406c.47fbf","type":"http request","z":"57920e70.a5aeb","name":"Send File","method":"POST","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":320,"wires":[["273aed72.0ca7e2","e62873da.33281"]]},{"id":"e62873da.33281","type":"debug","z":"57920e70.a5aeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":240,"wires":[]},{"id":"3236f20a.2b1e2e","type":"function","z":"57920e70.a5aeb","name":"Format Request","func":"msg.headers = {\n    'Content-Type': 'multipart/form-data',\n    'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuZXRpZCI6ImNkZjIifQ.aH1BRgU3zKkNn5bIfKlVPEFAzkPtDGKsgwpcqyz311s'\n};\n\nlet databuffer = msg.payload;\n\nmsg.payload = {\n    'file': {\n        'value': databuffer,\n        'options': {\n            'filename': msg.filename,\n        }\n    },\n    'device_type': 'tx2',\n    'task_type': 'cuda'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["95a9406c.47fbf"]]},{"id":"9fa7c721.879538","type":"debug","z":"57920e70.a5aeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":240,"wires":[]},{"id":"ce779e4.b11486","type":"http request","z":"57920e70.a5aeb","name":"Query Task State","method":"GET","ret":"txt","paytoqs":false,"url":"http://141.142.204.78/uploader","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":400,"wires":[["f9f8e96d.4ea698","600d522c.5d51bc"]]},{"id":"9816f1b8.4e9b2","type":"function","z":"57920e70.a5aeb","name":"Format Request","func":"msg.headers = {\n    'Authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuZXRpZCI6ImNkZjIifQ.aH1BRgU3zKkNn5bIfKlVPEFAzkPtDGKsgwpcqyz311s',\n    'taskID': msg.taskID\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":400,"wires":[["ce779e4.b11486"]]},{"id":"600d522c.5d51bc","type":"debug","z":"57920e70.a5aeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":240,"wires":[]},{"id":"f9f8e96d.4ea698","type":"switch","z":"57920e70.a5aeb","name":"Handle Response","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"UNKNOWN","vt":"str"},{"t":"eq","v":"SUBMITTED","vt":"str"},{"t":"eq","v":"RUNNING","vt":"str"},{"t":"eq","v":"PENDING","vt":"str"},{"t":"regex","v":"http*","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":5,"x":930,"y":400,"wires":[["fd97a1c8.fb545"],["baaabc65.b87f4"],["baaabc65.b87f4"],["baaabc65.b87f4"],["5be84ee5.d08b7"]]},{"id":"baaabc65.b87f4","type":"delay","z":"57920e70.a5aeb","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":400,"wires":[["9816f1b8.4e9b2"]]},{"id":"5be84ee5.d08b7","type":"function","z":"57920e70.a5aeb","name":"Format Request","func":"msg.url = msg.payload;\nmsg.headers = {\n    \"Accept\": \"binary\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":520,"wires":[["401790e4.9d005"]]},{"id":"fd97a1c8.fb545","type":"debug","z":"57920e70.a5aeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1390,"y":380,"wires":[]},{"id":"273aed72.0ca7e2","type":"function","z":"57920e70.a5aeb","name":"Attach TaskID ","func":"msg.taskID = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":400,"wires":[["9816f1b8.4e9b2"]]},{"id":"401790e4.9d005","type":"http request","z":"57920e70.a5aeb","name":"Retrieve gz File","method":"GET","ret":"bin","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1310,"y":520,"wires":[["b6d5e621.1e05c8","3568ef46.4c866"]]},{"id":"b6d5e621.1e05c8","type":"debug","z":"57920e70.a5aeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1650,"y":520,"wires":[]},{"id":"54e6c57f.fba16c","type":"debug","z":"57920e70.a5aeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1670,"y":600,"wires":[]},{"id":"3568ef46.4c866","type":"file","z":"57920e70.a5aeb","name":"Write gz File","filename":"F:\\SCHOOL\\ECE_498\\lab_2\\build.gz","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1470,"y":600,"wires":[["54e6c57f.fba16c"]]},{"id":"82b69cde.1c815","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3036481b.c96168","type":"inject","z":"82b69cde.1c815","name":"Start plz click here","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":320,"wires":[["be710c65.2eeba"]]},{"id":"127ae363.d5fd5d","type":"debug","z":"82b69cde.1c815","name":"END OF PROCESS","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Completed!\"","targetType":"jsonata","x":1120,"y":320,"wires":[]},{"id":"9e7d0778.c4fd38","type":"subflow:57920e70.a5aeb","z":"82b69cde.1c815","name":"Remote GPU service","env":[],"x":840,"y":180,"wires":[["127ae363.d5fd5d"]]},{"id":"be710c65.2eeba","type":"file in","z":"82b69cde.1c815","name":"Select input file here","filename":"F:\\SCHOOL\\ECE_498\\lab_2\\template.cu","format":"","chunk":false,"sendError":false,"encoding":"none","x":560,"y":320,"wires":[["9e7d0778.c4fd38"]]}]
