lab_2/flow_template/flows.json
[{"id":"15752fe5.3d618","type":"subflow","name":"Remote GPU","info":"","category":"","in":[{"x":520,"y":200,"wires":[]}],"out":[{"x":720,"y":200,"wires":[]}],"env":[],"color":"#DDAA99"},{"id":"d8e43c3f.a6f58","type":"inject","z":"111d4fdf.73442","name":"Start plz click here","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":500,"wires":[["681f3500.e8d67c"]]},{"id":"344e8186.40997e","type":"debug","z":"111d4fdf.73442","name":"END OF PROCESS","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Completed!\"","targetType":"jsonata","x":1320,"y":500,"wires":[]},{"id":"880fc3a4.a676e","type":"subflow:15752fe5.3d618","z":"111d4fdf.73442","name":"Remote GPU service","env":[],"x":1040,"y":360,"wires":[["344e8186.40997e"]]},{"id":"681f3500.e8d67c","type":"file in","z":"111d4fdf.73442","name":"Select input file here","filename":"/home/pi/input.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":760,"y":500,"wires":[["880fc3a4.a676e"]]}]